.app {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    min-height: 100vh;
    background-color: rgb(255, 238, 0);
  }
  
  .app-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    
  }
  
  .app__field-search{
    border: 4px solid gray;
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
    height: 25px;
    width: 60vw;
  }
  
  .list ,.pokemon-type{
    list-style: none;
    list-style-type: none;
  }
  
  .container__list{
    margin-top: 50px;
  }
  
  .list{
      max-width: 80vw;
      display: grid; 
      grid-template-columns: repeat(auto-fill, 250px); 
      grid-template-rows: auto;
      justify-content: center;
      grid-gap: 25px;
      list-style: none;
      padding: 0px;
      margin: auto;  
  }
  
  .item-pokemon{
    border: 2px solid grey;
    background-color: white;
  }
  
  .grey_container{
      background-color: #b6b5b5;
      min-width: 225px;
  }
  
  .pokemon-name{
    text-transform: capitalize;
    margin: 0;
    padding: 0;
  }
  
  .pokemon-id{
    background-color: #7a7a77;
    text-align: start;
    width: 50px;
    padding: 3px;
    font-size: 15px;
  }
  
  .img{
    margin-top: 20px;
  }
  
  
  .information{
    text-align: start;
    padding: 12px;
  
  }
  
  .pokemon-type{
    display: flex;
    padding: 0px;
    margin-top: 20px;
  
  }
  
  .type{
    padding: 3px;
    margin-right: 5px;
    border: 0.5px solid grey;
    border-radius: 5px;
  }